@import "./_variables.scss";
@import "./typography.scss";
@import "./colors.scss";
@import "./navbar.scss";
@import "./form.scss";
@import "./parallax.scss";
@import "./carousel.scss";
@import "./button.scss";
@import "./card.scss";
@import "./panels.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: $accent;
}
